*{
margin:0;
padding:0;
box-sizing: border-box;
-moz-box-sizing: border-box;
}
body {
 background-image:url('logo.jpg');
}
.header{
	text-align:center;
	}
	.header img{
height:90px;
width:auto;
	}
ul{
 padding: 0px;
 list-style: none;
 font-family: arial;
}
ul li {
 float: left;
 width: 200px;
 height: 40px;
 background-color: black;
 line-height: 40px;
 text-align: center;
 font-size: 20px;
}
ul li a {
 text-decoration: none;
 color: green;
 display: block;
}
ul li a:hover {
 background-color:grey;
 color:green;
}
ul li ul li{
 display: none;
}

ul li:hover ul li {
 display: block;
}
.main{
	color:#047608;
	background:black;
	margin-top:60px;
	text-align:left;
	height:40vh;
	width: 90%;
}
.portfolio{
color:green;
font-size:30px;
letter-spacing:3px;
text-align:center;
}	
.page {
    width: 35cm;
    min-height: auto;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}